*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: #141938;
  font-weight: 400;
  font-family: inherit;
}

body {
  box-sizing: border-box;
  touch-action: pan-y;
  user-select: none;
}

a {
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #14193873;
  color: #fff;
}

.datepicker.default .datepicker-header {
  color: #000 !important;
}

.datepicker.default .datepicker-wheel {
  border-top: 1px solid #125b9f !important;
  border-bottom: 1px solid #125b9f !important;
}

.datepicker.default .datepicker-navbar-btn {
  color: #125b9f !important;
}
