.statsList {
  background-color: transparent; // Adjust color as needed
  padding: 10px 20px;
  position: relative;
  width: 100%;
}

.title,
.insideTitle {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 15px;
}

.stats {
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  background: transparent;
  padding: 12px 20px;
  padding-bottom: 10px;
}

.insideTitle {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.statsItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.label,
.value {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.button {
  text-align: center;
  position: relative;
  margin-top: 30px;

  img {
    position: absolute;
    bottom: 0;
    right: 10px;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    margin-left: 10%;
    height: 1px;
    border-bottom: 1px solid rgba(18, 91, 159, 1);
    bottom: 30px;
    left: -10%;
    font-size: 15px;
  }
}
